<div class="row">
<ul class="list-unstyled col-sm-2 border">
  <% schedules.each do |schedule| %>
    <li>
      <div>
        <%= schedule.start %> "~" <%= schedule.end %>
      </div>
      <div>
        <%= link_to schedule.title, schedule_path %>
      </div>
    </li>
</ul>
</div>