<div class="center jumbotron">
  <div class="text-center">
    <h1>Schedulesへようこそ</h1>
    <p>このアプリは、会員登録を行うことによって、<br>
       スケジュールの登録、編集、確認ができます。</p>
  </div>
</div>
<div class="center">
  <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
</div>